body{
    margin: 0px;
    padding: 0;
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 400;
}

.header {
    background: #326cb8;
    color:#ffffff;
    text-align: center;
    position: relative;
}

.header-h1 {
    margin: 0;
    font-weight: 600;
    background: #c57e6d;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 20px;
}

@media(max-width:600px) {
    .header-h1 {
        font-size: 2rem;
    }
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

img { 
    width: 100%;
    height: auto;
    z-index: -1;
}

.label {
    font-size: 22px;
    font-weight: 500;
    display: block;
}

.btn {
    background: #c57e6d;
    color : #ffffff;
    border: none;
    transition: all .2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.change {
    height: auto;
    min-height: 500px;
    background: #c57e6d;
    display: flex;
    flex-direction: column;
}

.cityContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #f5ddd5;
    border: 5px solid black;
    font-size: 20px;

}

.selCityName {
    font-weight: 600;
    font-size: 50px;
}

.selCityInfo {
    font-weight: 600;
}

.cityInfo,.cityLoc{
    display: flex;
    margin: 30px 50px;
    justify-content: space-evenly;
    align-items: center;
}

.indices {
    margin: 30px 50px;
}

.indicesRow {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
}

.indicesRow > h3{
    margin-left: 20px;
}

.exploreCityContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #f5ddd5;
    font-size: 20px;
}

.searchCitiesForm {
    margin: 50px 0;
}

.selectionIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}


.selInd select{
    display: none;
}

.selInd {
    height: 40px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa;
}